.btnOrange{
    background-color: #E26D00;
    color: white;
    margin-right: 10px;
}

.btn-primary{
    background-color: rgb(63, 207, 255);
    border: rgb(63, 207, 255);
    margin-right: 10px;
}

#bouton{
    margin-bottom: 10px;
    display: inline-block;
}

#logo{
    height: 10%;
    width: 45px;
}

aside {
	background-color: #fad3af;
    padding-bottom: 20px;
    padding-top: 10px;
}

.docs{
    clear: both;
}

.docs p{
    margin-bottom: 3px;
}


.hoverName{
    color: black;
    font-style: italic;
    text-decoration: none;
}

.hoverName:hover{
    color: #E26D00;
    text-decoration: none;
}

.icon{
    float: right;
}

.dropdown{
    float: right;
}


.card{
    margin-bottom: 10px;
}

.nomProfile{
    border: none;
    background-color: white;
}

.nomProfile:hover{
    color: #E26D00;
}

#jumbo{
    background-color: #E26D00;
    margin-bottom: 25px;
}
